{
  root: true,
  "extends": ["babel", "eslint:recommended"],
  "plugins": [
    "prettier",
    "react"
  ],

  "ecmaFeatures": {
    "jsx": true,
    modules: true
  },

  rules: {
    "no-var": 0,
    "max-len": 0,
    "prettier/prettier": "error",
    "no-unused-vars": 0
  },
  env: {
    node: true,
    mocha: true
  }
}
